* {
    font-family: Verdana, sans-serif;
    color: #666;
    line-height: 32px;
    font-size: 16px;

}

html,body {
    height: 100%;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0,  0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
}


#pac-input:focus {
    border-color: #3e8f3e;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #3e8f3e;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.right-inner-addon {
    position: relative;
    border-color: #3e8f3e;
    border-style: dotted;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon i {
    position: relative;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}



.col-md-9 {
    height: 100%;
}

#map-canvas {

    height: inherit;
    margin: 5px;
    padding: 5px;


}

.fullscreen {
    height: 100%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
    font-size: 30px;
    background: #f6f6f6;
}

.input-icon {
    position: absolute;
    display: inline-block;

}

.button-top {
    position:relative;
    /*padding:6px 15px;
    left:-64px; */
    border:1px solid #207cca;
    background-color:#207cca;
    padding: 0 0 0 0;
    color: #fa7a7c;

}
.button-top:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.c-icon {
    position:relative;
    /*left:-160px;*/
}

form {
    margin:50px auto;
}

ul li:hover {
    color: #9ce43a;
    background-color: #204d74;
}

.container-3{
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

}

.container-3 input#pac-input{
    width: 100%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    padding-right: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #1b18ff;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-3 input#pac-input::-webkit-input-placeholder {
    color: #65737e;
}

.container-3 input#pac-input:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-3 input#pac-input::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-3 input#pac-input:-ms-input-placeholder {
    color: #65737e;
}


.container-3 .glyphicon{
    position: absolute;
    top: 50%;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 1;

}

.container-3 input#pac-input:hover, .container-3 input#pac-input:focus, .container-3 input#pac-input:active{
    outline:none;
    background: #bfff27;
}

.container-3 button.go_button{

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    position: absolute;
    border: none;
    background: #577474;
    height: 50px;
    top: 50%;
    width: 50px;
    color: #fa0812;
    margin-top: 10px;
    margin-left: -50px;
    font-size: 10pt;


    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}